# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE configurations
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Large media files (if not using Git LFS)
*.mp4
*.mov
*.avi
*.mkv

# FAISS index files
*.index

# Environment variables
.env
.env.*
